@import "../../styles/globals.scss";
@import "../../styles/mixin.scss";

.container {
  display: flex;
  flex-direction: column;
  @include text-md;
}

.input {
  @include text-md;
  @include font-family;
  border: none;

  &_form {
    padding: 7px 0;
    border-bottom: 1px solid $main-color;
  }

  &_chat {
    padding: 5px 20px;
    background-color: $bg-additional;
    height: 32px;
    border-radius: 12px;
  }
}

.form {
  color: $text-additional;
}

.chat {
  @include text-md;
  margin-bottom: 15px;
}

.error {
  @include text-sm;
  color: $text-error;
  margin: 0 0 8px 0;
}

