@import "../../styles/mixin.scss";
@import "../../styles/globals.scss";

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $text-base;
}

.container {
  margin: 0 auto;
  padding: 50px 30px;
  width: 340px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  background-color: $bg-primary;
}

.title {
  text-align: center;
  @include text-lg;
  margin-bottom: 40px;
}

.input {
  margin-bottom: 16px;
}

.button {
  margin-top: 60px;
}

.error {
  color: $text-error;
}

.link {
  text-decoration: none;
  margin-top: 15px;
  display: block;
  text-align: center;
  color: #09a420;
}
