// colors
$main-color: #25d366;
$main-hover-color: rgba(37, 211, 102, 0.8);
$bg-primary: #FFFFFF;
$bg-additional: #EFEFEF;

// text-colors
$text-base: #1E1E1E;
$text-additional: #999999;
$text-error: #F30000;