@import "../../styles/globals.scss";
@import "../../styles/mixin.scss";

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: $text-base;
}

.chatListContainer {
  min-width: 340px;
  width: 340px;
  height: 100%;
  background-color: #fbfbfb;
  padding: 0 10px;
  box-sizing: border-box;
}

.chatList {
  margin-top: 15px;
  border-top: 1px solid $bg-additional;
}

.linkContainer {
  text-align: right;
  padding: 20px 0;
}

.link {
  color: $text-additional;
  @include text-sm;
  text-decoration: none;
}

.hint {
  @include text-sm;
  margin: 5px 0 20px;
}

.chatArea {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  box-sizing: border-box;
}

.messages {
  padding: 0 20px;
  overflow: auto;
  flex-grow: 2;
  display: flex;
  flex-flow: column nowrap;

  &::before {
    content: '';
    flex: 1 1 auto;
  }
}

.sendMessageContainer {
  padding: 10px 20px;
  display: flex;
}

.sendMessage {
  flex-grow: 2;
}

.sendIcon {
  width: 30px;
  height: 30px;
}

.sendButton {
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.plug {
  @include text-md;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
